# os files
**/.DS_Store

# idea
**/.idea

# project files
node_modules

# runtime
tmp
logs
*.log

# environment for auth and local settings
environment.sh

# temp folder for testing
test/nginx

# vagrant runtime files
**/.vagrant
